page-login {
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom: 1px solid darkorange;
        -webkit-box-shadow: inset 0 -1px 0 0 darkorange;
        box-shadow: inset 0 -1px 0 0 darkorange;
    }

    .item-md.item-input.input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner {
        border-bottom: 1px solid darkorange;
        -webkit-box-shadow: inset 0 -1px 0 0 darkorange;
        box-shadow: inset 0 -1px 0 0 darkorange;
    }

    .item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input, .item-md ion-icon[item-start] + .item-inner, .item-md ion-icon[item-start] + .item-input {
        margin-left: 24px;
        margin-right: 24px;
    }

    h6.or-text {
        position: relative;
        overflow: hidden;
        text-align: center;
     }
     h6.or-text span {
        display: inline-block;
        vertical-align: baseline;
        zoom: 1;
        position: relative;  
        padding: 0 20px;
     }
     
     h6.or-text span:before, h6 span:after {
        content: '';
        display: block;
        width: 20ex;
        position: absolute;
        top: 0.56em;
        border-top: 1px solid darkgray;
        margin-left: 4ex;
     }
     h6.or-text span:before {
        right: 100%;
     }
     h6.or-text span:before {
        right: 100%;
     }

     .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
        left: 0;
        bottom: -5px;
        background-position: left 0 top -2px;
        position: absolute;
        width: 100%;
        height: 5px;
        background-image: none;
        background-repeat: repeat-x;
        content: "";
    }
    
    .toolbar-md {
        padding: 4px;
        min-height: 42px;
    }
}
